Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
._bcdi/
._d/
._ncdi/
*.a
*.cm*
*.o
*.so
*.annot
*.dll
config.h
config.h.in
*~
examples/properties/properties
examples/tagutil/tagutil
*.sw*
