depexts: [
  ["taglib-dev"] {os-distribution = "alpine"}
  ["gcc-c++" "taglib-devel"] {os-family = "suse"}
  ["gcc-c++" "taglib-devel"] {os-distribution = "fedora"}
  ["gcc-c++" "taglib-devel"] {os-distribution = "centos"}
  ["libtag1-dev"] {os-family = "debian"}
  ["taglib"] {os = "macos" & os-distribution = "homebrew"}
]
